#notesBox{
    float:left; 
    width:430px; 
    border:#F0F 1px dashed; 
    margin-right:60px; 
    padding:10px;
 }
#friendReqBox{
    float:left; 
    width:430px; 
    border:#F0F 1px dashed; 
    padding:10px;
 }
.friendrequests{
    height:74px; 
    border-bottom:#CCC 1px solid; 
    margin-bottom:8px;
 }
img.user_pic{
    float:left; 
    width:68px; 
    height:68px; 
    margin-right:8px;
 }
.user_info{
    float:left; 
    font-size:14px;
 }